*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.idea
.DS_Store
/build
/captures
imagepicker/build
suger/build
materialdatetimepicker/build
persianmaterialdatetimepicker/build
pinentryedittext/build
taggroup/build
app/release
