<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.traap.tractor.android"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.RECEIVE_SMS" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <meta-data android:name="com.adpdigital.push.client.SHOW_ONLY_CHABOK_NOTIFICATIONS" android:value="ENABLE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        tools:replace="android:appComponentFactory">

<!--
        android:appComponentFactory="whateverString"
-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD0Sz5c524BMxUW_YzlRW7K7g8R1jrzD7o" />

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity
            android:name="ir.traap.tractor.android.ui.activities.splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ir.traap.tractor.android.ui.activities.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity android:name="ir.traap.tractor.android.ui.activities.main.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="traap" />

            </intent-filter>

        </activity>

        <activity android:name=".ui.activities.login.user.UserActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activities.web.WebActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.card.add.AddCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="ir.traap.tractor.android" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notification.NotificationJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".notification.PushMessageReceiver">
            <intent-filter>
                <category android:name="ir.traap.tractor.android" />

                <action android:name="com.adpdigital.push.client.MSGRECEIVE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>